@import url("https://fonts.googleapis.com/css2?family=Inter");

/* Global styles */
body {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 44px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

/* Component styles */
.v-btn {
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-weight: 400 !important;
}

.v-toolbar-items {
  align-items: center;
}
.v-toolbar-items .v-btn {
  height: 30px !important;
  border-radius: 3px !important;
}