@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One");

/* Global styles */
body {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 44px;
  font-weight: 700;
}

h1.display{
  font-family: "Special Gothic Expanded One", sans-serif;
  letter-spacing: 0.03em;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

/* Notifications */
.notification {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;

  background-color: #44a4fc !important;
  border: 1px solid #187fe7 !important;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  &.success {
    background: #68cd86 !important;
    border-color: #42a85f !important;
  }

  &.warn {
    background: #ffb648 !important;
    border-color: #f48a06 !important;
  }

  &.error {
    background: #e54d42 !important;
    border-color: #b82e24 !important;
  }
}

/* Component styles */
.v-btn {
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-weight: 400 !important;
}

.v-toolbar-items {
  align-items: center;
}
.v-toolbar-items .v-btn {
  height: 30px !important;
  border-radius: 3px !important;
}
