@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --primary-color: #5464c6;
  --primary-color-light: #8393ef;
  --primary-color-dark: #3244aa;
  --secondary-color: #4faca9;
  --secondary-color-light: #8fd4d0;
  --secondary-color-dark: #3b7f7a;
}

/* Global styles */
body {
  font-family: Inter, sans-serif;
  font-size: 12pt;
  letter-spacing: -0.02em !important;
}

h1 {
  margin-bottom: 12pt;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: -0.06em;
  font-size: 44pt;
  font-weight: 500;
  line-height: 1;
  font-stretch: expanded;
}

h2 {
  font-size: 20pt;
  font-weight: 700;
  line-height: 1.5;
}

h3 {
  font-size: 18pt;
  font-weight: 700;
  line-height: 1.5;
}

h4 {
  font-size: 15pt;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a.v-btn {
  text-decoration: none;
}

.v-list-item:hover {
  text-decoration: none;
}

/* Notifications */
.notification {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;

  background-color: #44a4fc !important;
  border: 1px solid #187fe7 !important;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  &.success {
    background: #68cd86 !important;
    border-color: #42a85f !important;
  }

  &.warn {
    background: #ffb648 !important;
    border-color: #f48a06 !important;
  }

  &.error {
    background: #e54d42 !important;
    border-color: #b82e24 !important;
  }
}

/* Component styles */
.v-container {
  max-width: 1200px !important;
}

.v-btn {
  text-transform: none !important;
  letter-spacing: 0 !important;
  font-weight: 400 !important;
}

.v-btn--variant-flat.bg-primary {
  border: 1px solid var(--primary-color-dark) !important;
  box-shadow: inset 0 1px 0 0 var(--primary-color-light) !important;
}

.v-btn--variant-flat.bg-secondary {
  border: 1px solid var(--secondary-color-dark) !important;
  box-shadow: inset 0 1px 0 0 var(--secondary-color-light) !important;
}

.v-btn--variant-flat.bg-black {
  border: 1px solid black !important;
  box-shadow: inset 0 1px 0 0 #656565 !important;
}

.v-toolbar-items {
  align-items: center;
}
.v-toolbar-items .v-btn {
  height: 30px !important;
  border-radius: 3px !important;
}

.v-card--variant-outlined {
  border: 1px solid #e4e4e4 !important;
}
